<style>
body {
  font-family: 'Roboto', sans-serif;


}
.sec1-landing{
  height:567px;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
.example1 {
border: 2px solid red;
padding: 10px;
border-radius: 500px;
width:50%;
}
.main-background-page2{
  background: url(hello.png) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:65vh;
  background-position: top;
}
.background-card-page2{
background: url(page2/card_main_Background.png) no-repeat center center fixed;-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width:100%;
background-position: top;
}
.main-background{
  background: url(main-banner.png) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  background-position: top;
}
.sec6 ul {

  margin: 0;
  padding: 0;
}
.sec6 li {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding-left: 15px;
  line-height:1.8;

}
.sec6 li:before {
  content: "\25BA \0020";
  color: orange;
  font-size: 1.39vw;
  position: absolute;
  top: -7px;
  left: -10px;
}
.main-background-2{
  background: url(banner-bg-2.png) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
}
.r2{

border-radius: 150px;
border: 7px solid #ffffff;

}
.r3{
border-radius: 4rem!important


}
</style>
