<style >
  .background-banner{
    background: url(Assests/Ellipse 3 copy 3.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%
      height:500px;
      border: 2px red;


    }
    .main-text{
      margin: 0 auto;
      margin-top: 440px;



    }
    .main-text h1{
      margin: 0 auto;
      color: #2c333c;
      text-align: center;
      font-weight:700;
      padding-bottom: 27px;
      font-size: 48px;


    }

    .main-text p{
      margin: 0 auto;
      color: #2c333c;
      text-align: center;
      font-weight:300;
      padding-top: 20px;
      padding-bottom: 40px;
      width: 635px;
      font-size: 24px;
      line-height:normal;

    }
    .main-text button{



    }
    .sec-main-2 h2{
      margin: 0 auto;
      color: #2c333c;
      text-align: center;
      font-weight:700;
      padding-bottom: 27px;


      font-size: 30px;
    }

    .sec-main-2 h2{
      margin: 0 auto;
      color: #2c333c;
      text-align: center;
      font-weight:700;
      padding-bottom: 27px;
      font-size: 24px;
    }
.sec3 {
  margin: 0 auto;
  margin-top: 140px;
}

.sec3 h2{
  margin: 0 auto;
  color: #2c333c;
  text-align: center;
  font-weight:700;
  padding-bottom: 36px;
}

.sec4 {
  margin: 0 auto;
  margin-top: 140px;
}

.sec5 {
  margin: 0 auto;
  margin-top: 140px;
}

.sec6 {

}

.sec7 {

}

.sec8 {

}

.sec9 {
padding-top: 129px;
}
  </style>
